- if @channel
  -content_for :feed do
    = link_to '&nbsp;', channel_messages_url(:format => :xml, :channel_id => @channel.id), :class => 'feed-button'
    = auto_discovery_link_tag(:rss, channel_messages_url(:format => :xml, :channel_id => @channel.id))
-content_for :menu do
  #menu
    %ul
      - if @channel
        %li= link_for_date('Previous Day', @date - 1.day) if Message.any_before?(@date)
        %li= link_for_date('Next Day',  @date + 1.day) if Message.any_after?(@date)
        %li= link_for_date('Today', Date.today) unless @date == Date.today
-content_for :side_widget do
  .side_widget
    %h3= "Links on #{@date}"
    %ul
      - Message.links_from(@messages).each do |link|
        %li= link_to truncate(link, 28), link, :alt => link
#heading-message= flash[:message]
= render :partial => @messages